version: '3.9'
services:
  freeswitch:
    image: 'safarov/freeswitch:latest'
    env_file:
      - .env
    network_mode: host
    restart: unless-stopped
    volumes:
      - 'fs_data:/usr/local/freeswitch'
    ports:
      - "5060:5060/udp"
      - "5080:5080/udp"
      - "16384-32768:16384-32768/udp"
    command: sh -c "${START_COMMAND}"
volumes:
  fs_data: null
