version: '3.9'
services:
  freeswitch:
    image: 'safarov/freeswitch:latest'
    container_name: sip-wraper
    environment:
      SIP_USER: exampleuser
      SIP_PASSWORD: examplepass
      SIP_DOMAIN: example.sip.domain
      PROVIDER_HOST: example.provider.host
      PROVIDER_PORT: 5060
      PROVIDER_USERNAME: provideruser
      PROVIDER_PASSWORD: providerpass
      PROVIDER_TRANSPORT: udp
      EXTERNAL_IP: example.external.ip
      GITHUB_URL: https://github.com/insidedynamic-de/sip_wrapper
    network_mode: host
    restart: unless-stopped
    volumes:
      - 'fs_data:/usr/local/freeswitch'
    ports:
      - "5060:5060/udp"
      - "5080:5080/udp"
      - "16384-32768:16384-32768/udp"
    command: >
      sh -c "wget -qO /tmp/provision_freeswitch.sh https://raw.githubusercontent.com/insidedynamic-de/sip_wrapper/main/provision_freeswitch.sh && chmod +x /tmp/provision_freeswitch.sh && /tmp/provision_freeswitch.sh && /usr/local/freeswitch/bin/freeswitch -nonat -nf"
volumes:
  fs_data: null
