version: '3.9'
services:
  freeswitch:
    build: .
    container_name: freeswitch
    environment:
      SIP_USER: exampleuser
      SIP_PASSWORD: examplepass
      SIP_DOMAIN: example.sip.domain
      PROVIDER_HOST: example.provider.host
      PROVIDER_PORT: 5060
      PROVIDER_USERNAME: provideruser
      PROVIDER_PASSWORD: providerpass
      PROVIDER_TRANSPORT: udp
      EXTERNAL_IP: example.external.ip
      GITHUB_URL: https://github.com/insidedynamic-de/sip_wrapper
    ports:
      - "5060:5060/udp"
      - "5080:5080/udp"
      - "16384-32768:16384-32768/udp"
    restart: unless-stopped
